* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.box {
    margin: 0 auto;
    width: 1508px;
    background-color: #DDDDDD;
    display: flex;
    /* 居中对齐 */
    justify-content: center;
    /* 自上而下排列 */
    flex-direction: column;
}

nav {
    background: #FFF;
    width: 100%;
    height: 70px;
}

footer {
    background: #505050;
    width: 100%;
}

.nav_box {
    width: 70%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    /*两端对齐*/
    justify-content: space-between;
    /*从左到右排列*/
    flex-direction: row;
    align-items: center;
}

.nav_logo {
    width: 133px;
    height: 52px;
    background: url("../img/logonew.png");
    background-size: 100% 100%;
}

.nav_ul>ul {
    list-style: none;
    padding-right: 150px;
    padding-top: 12px;
}

.nav_ul>ul>li {
    float: left;
    width: 100px;
}

.nav_ul>ul>li>a {
    color: black;
    font-size: 18px;
}

.nav_ul>ul>li>a:hover {
    color: red;
}

.nav_a_active {
    color: red !important;
}

.nav_regist {
    width: 110px;
    display: flex;
    /*两端对齐*/
    justify-content: space-between;
    /*从左到右排列*/
    flex-direction: row;
    align-items: center;
}

.nav_search {
    width: 24px;
    height: 26px;
    background: url("../img/search.png") no-repeat;
}

.nav_regist>button {
    width: 50px;
    height: 32px;
    background-color: #FFF;
    border: 2px solid #F75542;
    border-radius: 3px;
}

.nav_regist>button>a {
    text-align: center;
    line-height: 32px;
    display: block;
    width: 100%;
    height: 100%;
    color: #F75542;
    font-size: 15px;
}

.footer_box {
    width: 70%;
    margin: 0 auto;
    display: flex;
    /*两端对齐*/
    justify-content: space-between;
    /*从左到右排列*/
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    top: 40px;
}

.footer_left {
    width: 330px;
    height: 180px;
    color: #979C90;
    font-size: 13px;
}

.footer_left>img:nth-of-type(1) {
    float: left;
    margin-right: 20px;
}

.footer_left>p {
    float: right;
    width: 130px;
    position: relative;
    top: 10px;
    margin-top: 5px;
}

.footer_left>p:nth-of-type(3) {
    top: 30px;
}

.footer_box dt {
    font-size: 15px;
    color: #FFF;
    margin-bottom: 25px;
}

.footer_box dd {
    margin-bottom: 3px;
    font-size: 13px;
    color: #979C90;
}

.footer_box dl:nth-of-type(2) {
    width: 140px;
}

.footer_box dl:nth-of-type(2) dd {
    width: 70px;
    float: left;
}

footer>p {
    font-size: 13px;
    color: #979C90;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 30px;
}

.footer_box dl>dt>a {
    font-size: 15px;
    color: #FFF;
}